.dealership_section{
    padding: 50px 0px;
    margin-top: 50px;
}
.dealership_text_div{
    width: 100%;
    max-width: 992px;
    padding: 0px 10px;
    text-align: center;
    margin: auto;
}
.dealership_text_div h2{
    font-weight: 600;
    font-size: 54px;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.dealership_text_div h2 span{
    font-weight: 700;
    font-size: 54px;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #18A0FB;
}
.dealership_text_div p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -1.5%;
    text-align: center;
    color: #000000B2;
}