.customization-panel {
    padding: 20px;
}
.color_section_inner{
    margin-top: 10px;
}
.color_input_inner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.color_input_inner input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}
.color-section {
    margin-bottom: 30px;
}

.color-options {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 550px;
}

.color-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.color-circle.selected {
    border: 2px solid #0D7ECA;
    /* Thicker black border when selected */
}

.tick-icon {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -4px;
    right: -4px;
}

.color-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.color-inputs p {
    margin: 0;
    font-size: 14px;
    color: #666;
}
.typography-section {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.typography-option {
    flex: 1;
}

.typography-option label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.typography-option select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.additional-elements label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.Cust_inputs_inner {
    display: flex;
    gap: 6px;
    flex-direction: column;
    position: relative;
}
.Cust_inputs_inner input{
    width: 100%;
    padding: 8px 25px;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    font-size: 14px;
}
.Cust_inputs_inner img{
    position: absolute;
    top: 38px;
    right: 10px;
}
@media (max-width:576px){
    .customization-panel{
        padding: 10px 0px;
    }
    .color-inputs{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
    .su_step4_card_inner{
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    .su_step4_card_inner_radio_btn label {
        font-weight: 600;
        font-size: 14px;
    }
    .su_step4_card_inner2 {
        display: flex;
        align-items: end;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        margin-top: 10px;
    }
    .upload_main_row .ps-5{
        padding-left: 10px !important;
    }
    .upload_main_row .pe-5{
        padding-right: 10px !important;
    }
    .or_txt {
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: capitalize;
        color: #6C757D;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .step6_content1_main {
        padding: 20px 0px;
    }
    .payment-icons{
        flex-wrap: wrap;
    }
}