.navbar_section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 30px;
}
.navbar-light .navbar-toggler{
    box-shadow: none;
    border: none;
}
.navbar-nav{
    text-align: start;
}
.header_left_txt h3{
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0%;
    margin-bottom: 0;
}
.header_left_txt p{
    margin-top: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -1.5%;
    color: #000000CC;
    margin-bottom: 0;
}
.header_right_icons{
    display: flex;
    gap: 12px;
    align-items: center;
}
.header_right_icons_inner {
    cursor: pointer;
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D4D4D4;
}
.header_right_icons_inner img{
    height: 30px;
    width: 30px;
}
.header_right_icons_inner span{
    display: block;
    background-color: #FF1F25;
    height: 8px;
    min-width: 8px;
    max-width: 8px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 8px;
}
.header_right_icons_inner2 img{
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}